@charset "utf-8";
/* CSS Document */
p{width:250px; height:250px;
	padding:0; margin:0;}
div{	width:1000px;
		height:300px;
		border:10px solid #000;
		margin-bottom:300px; }
p.box01{background:red;}		
p.box02{background:yellow;}	
p.box03{background:green;}	

div#boxA>.box01{}
div#boxA>.box02{}
div#boxA>.box03{}

div#boxB>.box01{}
div#boxB>.box02{}
div#boxB>.box03{}

div#boxC>.box01{}
div#boxC>.box02{}
div#boxC>.box03{}

div#boxD>.box01{}
div#boxD>.box02{}
div#boxD>.box03{}

